@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:wght@700&display=swap');
*{
    font-family: 'Inter', 'Merriweather';
    color: white;
}
.container{
   max-width: 1200px;
   margin: 0 auto;
}
.nav{
    list-style-type: none;
    color: white;
    display: flex;
}
.nav-links{
    text-decoration: none;
    color: white;
    margin-left: 30px;
}
.nav-links:hover{
    text-decoration: none;
    color: #BDAE82;
}
.header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
body{
    background-image: url(../assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.section-welcome_title{
    height: 120px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    margin-top: 160px;
    line-height: 40px;
    color: #FFFFFF;
}
.section-welcome_info{
    height: 120px;
    width: 470px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
    line-height: 40px;
    color: #FFFFFF;
}
.section-welcome_button{
    width: 220px;
    height: 55px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    background-color: #BDAE82;
    border: 0px;
    margin-bottom: 330px;
}